body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 10%;
}

input {
  width: 300px;
  margin-top: 3%;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: navy;
  color: white;
}

input:focus-visible {
  outline-offset: unset;
  outline: none;
}

.dropDownCardList {
  box-shadow: 1px 0px 4px 0px grey;
  width: 40%;
  margin-top: 10px;
}


.dropDownCardList > li {
  list-style: none;
  padding: 3%;
  cursor: pointer;
}

.dropDownCardList > li:hover {
  border: 1px solid lightgray;
}



.cardConatiner {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
}
