.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .prev,
  .next {
    background: #fff;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
  }
  
  .paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }

  .inputBox {
    width: 50px;
    margin: 0px 13px;
    text-align: center;
    font-size: 16px;
}

.createUser {
  text-decoration: none;
  background-color: #07339A;
  padding: 8px;
  color: white;
  width: 160px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.createUser:hover {
  color: white;
}